.btn {
  text-align: center;
  background-color: palevioletred;
  padding: 5px 10px;
  border-radius: 0.4rem;
  color: white;
  font-weight: bold;
}

.active {
  background-color: lightsalmon;
}

.page {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
}

.Card {
  background: #f4f4f4;
  border-radius: 1.2rem;
  padding: 2rem 1rem;
}

.link-reset {
  text-decoration: none;
  color: initial;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none;
}

.login, .landing, .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: center;
}

.main-container {
  max-width: max-content;
  position: relative;
}

.landing {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.nav_link {
  padding: 5px 10px;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user_image {
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #feb47b, #ff7e5f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  place-items: center;
}

.user_login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 55vmin;
  width: clamp(300px, 60vw, 600px);
  align-self: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
  margin: 40vh 1rem;
}

.Card.welcome_message {
  position: relative;
  top: 20vh;
  margin: 0 2rem;
}

.plant_cards_container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
  margin: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(57, 202, 65, 0.5);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.root {
  width: 100%;
  height: min-content;
}

@media (max-width: 900px) {
  .Nav {
    margin-left: 1rem;
    width: 7rem;
    position: absolute;
    top: 0;
    transform: translateX(100vw);
    overflow-y: none;
    padding: 2rem;
    flex-direction: column;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  .navigation_menu {
    display: flex;
    flex-direction: column;
  }
  .user_login {
    min-height: 65vh;
  }
}
.overlay.gardenform {
  background: rgba(0, 59, 177, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*# sourceMappingURL=index.css.map */
